
/* This is cover all website with the image */

/*body {
    margin: 0;
    padding: 0;
    background-image: url('https://content.njtransit.com/sites/default/files/homebanner/home-banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
} */

body{
    background-color: antiquewhite;
}

.hd{
    position: relative;
    padding: 20px;
    margin: 15px;
    height: 15vh;
    width: 248vh;
    background-color: #20399D;
}

#en{
    position: relative;
    left: 1200px;
    bottom:30px;
}

#drop{
    position: relative;
    left: 978px;
    top: 30px;
}
#btn{
    position: relative;
    height: 3vh;
    width: 5vh;
    margin: 10px;
}

.navMain{
    position: relative;
    padding: 20px;
    margin: 10px;
}
ul, li{
    position: relative;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: solid black;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 25px;
}
li:hover{
    background-color: violet;
    border: dotted yellow;
    border-radius: 50%;
}

#img2{
    position: relative;
    border: solid black 3px;
    height: 50vh;
    width: 250vh;
}


.sec2{
    position: relative;
    /* padding: 10px;
    margin: 10px; */
    /* border: solid pink 3px; */
    justify-content: space-between;
    /* top: 400px; */
    left: 20%;
    bottom: 360px;
}


#hd2, #hd4{
    position: relative;
    border: solid gray 3px;
    color: white;
    height: 11vh;
    width: 22vh;
    background-color: #20399D;
    top:15px;
}

h4{
    color: black;
    background-color: white;
}

.nv1{
    position: relative;
    bottom: 100%;



}




#sp1{
    position: relative;
    display: flex;
    padding: 10px;
    margin: 10px;
    bottom: 16px;
}

.mainBox{
    /* border: solid blueviolet 3px; */
    position: relative;
    display: flex;
    justify-content: space-between;
    /* padding: 25px;
    margin: 20px;
    height: 5vh;
    width: 10vw;
    top: 100%; */
    /* bottom: 1000px; */
} 

.box{
    border: solid blueviolet 3px;
    /* padding:10px;
    margin: 5px; */
    height: 7vh;
    width: 8vw;
    /* align-items: center; */
    /* top:100%; */
    right: 45%;
}

.main{
    border: solid black 3px;
    
}